*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}

#cCarousel {
  position: relative;
  max-width: 999px;
  margin: auto;
}

#cCarousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: rgb(255, 255, 255);
  background: #e9a72c;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#cCarousel #prev {
  left: -20px; 
}

#cCarousel #next {
  right: -10px; 
}

#carousel-vp {
  width: 930px;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }

  #cCarousel #prev {
    left: -10px;
  }

  #cCarousel #next {
    right: -10px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }

  #cCarousel #prev,
  #cCarousel #next {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-item {
  width: 300px;
  height: 490px;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  min-height: 300px;
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: rgb(0, 0, 0);
}

.cCarousel-item .infos button {
  background: #e9a72c;
  padding: 10px 30px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

